.banner {
    display: flex;
    height: 50dvh;
    background-color: black;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 11px 0px #CFCC98;

}

.banner__content {
    position: relative;
    padding: 2rem;
    color: var(--secondary-text-color);
    text-align: center;
    z-index: 1;
}

.banner__content div {
    margin: 0 auto;
    margin-top: 3rem;
}

.btn.banner__button:hover {
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
}

.btn.banner__button a:hover {
    color: var(--main-text-color);
}

.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/banner/small/Radiocassette_mcqnkw_c_scale_w_376.jpg');
    background-size: 50dvh;
    background-repeat: no-repeat;
    opacity: .35;
}

@media (width > 768px) {
    .banner__image {
        background-image: url('/images/banner/big/black/banner_c_scale-w_633.jpg');
        background-size: 60dvh;
        background-repeat: repeat;
        opacity: .35;
    }

    .banner {
        height: 30dvh;
    }
}

@media (width > 1024px) {
    .banner__image {
        background-image: url('/images/banner/big/black/banner_c_scale-w_913.jpg');
        background-size: 50dvh;
        background-repeat: repeat;
        opacity: .35;
    }

    .banner {
        height: 70dvh;
    }
}

@media (width > 1440px) {
    .banner__image {

        background-image: url('/images/banner/big/black/banner_c_scale-w_1390.jpg');
        background-size: 50dvh;
        background-repeat: repeat;
        opacity: .35;
    }

    .banner {
        height: 70dvh;
    }
}