.hidden {
    display: none;
}

@media (width > 768px) {
    .hidden {
        display: block;
    }

}

.btn {
    background-color: var(--main-brand-color);
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 3px;
    padding: 1rem;
}