.footer {
    /* display: flex; */
    background-color: var(--bg-color);
    padding: 2rem 1rem;
    font-size: 0.8rem;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 25%;
}

.footer__logo img {
    width: 70%;
}

.footer__copyright {
    display: block;
    font-size: 0.7rem;
    max-width: 70%;
    ;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}