.header {
    background: var(--bg-color);
    height: 10dvh;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0px 0px 11px 0px #CFCC98;
    z-index: 5;
}

.header .header__image {
    max-width: 45%;
    margin: 0 auto;
}

.header .header__image img {

    width: 100%;
}

.header__image a,
.footer__section.footer__logos a {
    padding: 0;
}

.hamburguesa {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-size: 2rem;
    padding: 1rem;
    border: 0;
}

.header .header__nav {
    display: none;
    position: absolute;
    top: 14rem;
    left: 0;
    box-shadow: 0px 0px 11px 0px #CFCC98;
}


#hamburguesa__mostrar__menu {
    display: none;

}


#hamburguesa__mostrar__menu:checked~.header__nav {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: mostrar__lista__hamburguesa .5s ease-in-out;
}

@keyframes mostrar__lista__hamburguesa {
    0% {
        left: -40rem;
    }

    100% {
        left: 0;
    }
}

.header .header__nav .header__nav__list {
    list-style: none;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 30px;
}

.header__nav__list__item .header__link:hover {
    border-bottom: 1px solid var(--main-brand-color);
    border-bottom-width: 4px;
    animation: header__line .5s ease-in-out;
}

@keyframes header__line {
    0% {
        border-bottom-width: 0;
    }


    100% {
        border-bottom-width: 5px;
    }
}

.header__nav__list__item .btn:hover {
    color: var(--secondary-text-color);

}


@media (width > 768px) {
    .header {
        background-color: var(--bg-color);
        height: 5dvh;
        flex-direction: row;
    }

    .header .header__image {
        max-width: 30%;
        margin: 0;
    }

    .header__image a {
        padding: 1rem;
    }

    .header .header__image img {
        width: 60%;
    }

    .hamburguesa {
        display: none;
    }

    .header .header__nav {
        display: flex;
        position: relative;
        top: 0;
        justify-items: space-between;

    }

    .header .header__nav .header__nav__list {
        list-style: none;
        color: var(--main-text-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 30px;
    }

    @keyframes header__line {
        0% {
            border-bottom-width: 0;
        }


        100% {
            border-bottom-width: 5px;
        }
    }

    .header__nav__list__item .btn:hover {
        color: var(--secondary-text-color);

    }
}

@media (width > 1024px) {


    .header .header__image {
        max-width: 20%;
        margin: 0;
    }
}