.main {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

.main .main__section {
    display: block;
    margin: 0;
    text-align: justify;
}

.main .main__section .main__info__bio {
    padding: 2rem;
}

.main .main__section .main__info__bio h1 {
    margin: 0;
}

.main .main__section .main__info__picture {
    padding: 0;
}

@media (width > 768px) {
    .main .main__section {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }

    /*     .main .main__section .main__info__bio {
        display: flex;
    } */

    .main .main__section .main__info__picture {
        display: flex;
        justify-content: flex-end;
    }

    .main .main__section .main__info__picture img {
        width: 50%;
    }
}