.main {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

.main .main__section__bio {
    display: block;
    margin: 0;
    text-align: justify;
}

.main .main__section__bio .main__info__bio {
    padding: 2rem;
}

.main .main__section__bio .main__info__bio h1 {
    margin: 0;
}

.main .main__section__bio .main__info__picture img {
    background-color: var(--main-text-color);
    border-radius: 3px;
    padding: 0;

}

.main .main__section__skills {
    background-color: var(--main-brand-color);
    margin: 0;
    padding: 1rem;
}

.main .main__section__skills .main__section__skills__container {
    padding: 1rem;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.main .main__section__skills .main__section__skills__container .main__section__skills__black__bar {
    background-color: var(--main-text-color);
    padding: 0.2rem;
    border-radius: 10px;
}

.main .main__section__skills .main__section__skills__container .main__section__skills__black__bar .main__section__skills__red__bar {
    background-color: var(--main-brand-color);
    border-radius: 10px;
    height: 1.2rem;
    width: 97%;
}

.progress__bar {
    animation: progress__bar 2s ease-in;
}

@keyframes progress__bar {
    0% {
        width: 0%;
        background-color: var(--bg-color);
    }

    80% {
        width: 100%;
        background-color: var(--main-brand-color);
    }

    90% {
        width: 95%;
        background-color: var(--main-brand-color);
    }

    95% {
        width: 98%;
        background-color: var(--main-brand-color);
    }

    100% {
        width: 97%;
        background-color: var(--main-brand-color);
    }

}

.main .main__section__skills .main__section__skills__container h2 {
    text-align: left;
}

@media (width > 768px) {
    .main .main__section__bio {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section__bio .main__info__bio {
        display: block;
        padding-top: 0;
        width: 50%;
    }

    .main .main__section__bio .main__info__picture {
        display: block;
        padding-right: 1rem;
        width: 50%;
    }


    .main .main__section__bio .main__info__picture img {

        width: 100%;

    }
}

@media (width > 1024px) {
    .main .main__section__bio {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section__bio .main__info__bio {
        display: block;
        padding-top: 0;
        width: 50%;
    }

    .main .main__section__bio .main__info__picture {
        display: block;
        padding-right: 1rem;
        width: 50%;
    }


    .main .main__section__bio .main__info__picture img {
        width: 100%;

    }
}

@media (width > 1440px) {
    .main .main__section__bio {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section__bio .main__info__bio {
        display: block;
        padding-top: 0;
        text-align: left;
        width: 100%;
    }

    .main .main__section__bio .main__info__picture {
        display: block;
        padding-right: 1rem;
        text-align: right;
        width: 70%;
    }


    .main .main__section__bio .main__info__picture img {
        width: 90%;

    }
}