.main {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

.main .main__section {
    display: block;
    margin: 0;
    text-align: justify;
}

.main .main__section .main__info__bio {
    padding: 2rem;
}

.main .main__section .main__info__bio h1 {
    margin: 0;
}

.main .main__section .main__info__picture img {
    background-color: var(--main-text-color);
    border-radius: 3px;
    padding: 0;


}

@media (width > 768px) {
    .main .main__section {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section .main__info__bio {
        display: block;
        padding-top: 0;
        width: 50%;
    }

    .main .main__section .main__info__picture {
        display: block;
        padding-right: 1rem;
        width: 50%;
    }


    .main .main__section .main__info__picture img {

        width: 100%;

    }
}

@media (width > 1024px) {
    .main .main__section {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section .main__info__bio {
        display: block;
        padding-top: 0;
        width: 50%;
    }

    .main .main__section .main__info__picture {
        display: block;
        padding-right: 1rem;
        width: 50%;
    }


    .main .main__section .main__info__picture img {
        width: 100%;

    }
}

@media (width > 1440px) {
    .main .main__section {
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }

    .main .main__section .main__info__bio {
        display: block;
        padding-top: 0;
        text-align: left;
        width: 100%;
    }

    .main .main__section .main__info__picture {
        display: block;
        padding-right: 1rem;
        text-align: right;
        width: 70%;
    }


    .main .main__section .main__info__picture img {
        width: 90%;

    }
}