.porfolio {
    background-color: var(--body-color);
    padding: 0;
    margin: 0;
}

.porfolio .porfolio__intro__video {
    background: radial-gradient(circle, rgba(250, 25, 12, 1) 0%, rgba(0, 0, 0, 1) 56%);
    text-align: center;
    padding: 0;
}

.porfolio .porfolio__intro__video video {
    padding: 0;
    margin-bottom: 0;
}

.porfolio__video__fade {
    opacity: 100%;
    animation: porfolio__video__fade 2s ease-in-out;
}

@keyframes porfolio__video__fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.porfolio .porfolio__intro__video.porfolio__video__fade.hide__video__small {
    display: block;
}

.porfolio .porfolio__intro__video.porfolio__video__fade.hide__video__big {
    display: block;
}


.video__small {
    width: 100%;
    padding: 0;
}

.video__big {
    width: 35%;
}

@media (width > 1024px) {
    .video__small {
        width: 40%;
    }
}

@media (width > 1439px) {
    .porfolio .porfolio__intro__video.porfolio__video__fade.hide__video__small {
        display: none;
    }
}

/* @media (width < 320px) {
    .video__small {
        width: 30%;
    }
} */

@media (width < 1440px) {
    .porfolio .porfolio__intro__video.porfolio__video__fade.hide__video__big {
        display: none;
    }
}