.porfolio {
    background-color: var(--body-color);
    padding: 0;
    margin: 0;
}

.porfolio .porfolio__intro__video {
    background: radial-gradient(circle, rgba(250, 25, 12, 1) 0%, rgba(0, 0, 0, 1) 56%);
    text-align: center;
    padding: 0;
}

.porfolio .porfolio__intro__video video {
    padding: 0;
    margin-bottom: 0;
}

.porfolio__video__fade {
    opacity: 100%;
    animation: porfolio__video__fade 2s ease-in-out;
}

@keyframes porfolio__video__fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}